html {
    box-sizing: border-box;
}

img {
    height: 200px;
    }

body {
    margin: 0px;
    padding: 0px
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(156, 224, 88, 0.917)
}

header {
    padding-top : 0px;
    padding-bottom: 0px;
    background-color: rgba(249, 65, 37, 0.967);
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

h1 {
    color: darkgreen;
}

a {
    color:olivedrab
}

#my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
}

.white-font {
    color: white
}

.grey-background {
    background-color: rgb(217, 215, 215);
}
